<div class="principal">
  <div class="home-box">
    <h1 id="welcome">Welcome to my Music Database! :)</h1>
    <div id="content-box">
      <h2>Popular songs</h2>
      <div class="home-data">
        <a href="/songs" class="home-more">Show more</a>
        <div class="home-grid">
          {{#each popularSongs}}
            <a href="/songs/{{sid}}" class="home-card">
              {{#if cover_url}}<img
                  src="{{cover_url}}"
                  alt="Album cover for {{title}}"
                />{{/if}}
              <div class="home-card-title">{{title}}</div>
              <div class="home-card-sub">{{artist_name}}</div>
            </a>
          {{/each}}
        </div>
      </div>

      <h2>Popular artists</h2>
      <div class="home-data">
        <a href="/artists" class="home-more">Show more</a>
        <div class="home-grid">
          {{#each popularArtists}}
            <a href="/artists/{{aid}}" class="home-card">
              {{#if image_url}}<img
                  src="{{image_url}}"
                  alt="Photo of {{name}}"
                />{{/if}}
              <div class="home-card-title">{{name}}</div>
              <div class="home-card-sub">{{genre}}</div>
            </a>
          {{/each}}
        </div>
      </div>

      <h2>Popular albums</h2>
      <div class="home-data">
        <a href="/albums" class="home-more">Show more</a>
        <div class="home-grid">
          {{#each popularAlbums}}
            <div class="home-card">
              {{#if cover_url}}<img
                  src="{{cover_url}}"
                  alt="Cover of {{title}}"
                />{{/if}}
              <div class="home-card-title">{{title}}</div>
              <div class="home-card-sub">{{artist_name}}</div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>