<div id="principal">
  <h1>Adri's Projects</h1>
  <div>
    <ul>
      {{#each projects}}
        <li>{{year}}
          //
          {{name}}
          //
          {{description}}
          //
          <img src="{{url}}" alt="{{url}}" class="smallimage" />

        </li>
      {{/each}}

    </ul>
  </div>

</div>