<div id="principal">
  <h1>Adri's Projects</h1>
  <div>
    <ul>
      {{#each projects}}
        <li>{{pyear}}
          //
          {{pname}}
          //
          {{pdesc}}
          //
          <img src="{{pImgURL}}" alt="{{pname}}" class="smallimage" />
        </li>
      {{/each}}
    </ul>
  </div>
</div>